@import "../../../css/theme/kits";
@import "../../../css/theme/mixins";

.container {
  width: 100%;
  padding: 0 paddings(lg);
  @include flex(row, space-between);
  background: var(--bg-primary);
  height: var(--search-box);
  margin: 0;
}

.root {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--custom-search-area);
  padding: 0;
  height: 32px;
  border-radius: borderRadiuses(xs);
}

.input {
  width: 100%;

  & input,
  & input::placeholder {
    color: var(--text-primary);
  }
}

.floatAboveEverything {
  z-index: zIndexes(md);
  position: relative;
}

.iconButton {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 0 10px;
  background: transparent;

  & img {
    width: 100%;
  }
}

.heading {
  margin-right: 10px;
  flex-shrink: 1;
  line-height: 1.2rem;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  /* autoprefixer off */
}

.clearButton {
  position: relative;
  background: var(--link-hover);
  height: 22px;
  width: 22px;
  border-radius: borderRadiuses(circle);
  padding: 0;
  margin: 0;
  display: flex;
  flex-shrink: 0;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    height: 65%;
    width: 2px;
    border-radius: borderRadiuses(xs);
    background-color: var(--bg-primary);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 65%;
    width: 2px;
    border-radius: borderRadiuses(xs);
    background-color: var(--bg-primary);
  }
}