.grid {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
}

.virtuoso {
  flex-grow: 1; // The virtuoso will grow to take the remaining available space
  overflow-y: auto; // to handle the overflow and possibly the scrollbar for virtuoso content.
  // Other styles ...
}

.headerRow {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  // Other styles...
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // Other styles ...
}

.column {
  color: red;
  // Other styles ...
}