html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.container {
  display: flex;
  min-height: 100vh;
  padding: 5px;
}

.leftColumn {
  flex: 60%;
  display: flex;
  flex-direction: column;
  padding: 5px;

}

.topSubcolumn {
  flex: 60%;
  background-color: #a54a4a;
}

.bottomSubcolumn {
  flex: 40%;
  background-color: #4c729c;
  padding: 5px;
}

.rightColumn {
  flex: 40%;
  background-color: #fdfdfd;
  margin: 5px;
}
@media (max-width: 768px) {
  .rightColumn {
    display: none;
  }
}