.sideBar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    background: white;

    @media (max-width: 1024px) {
        display: none;

        &.mobile {
            transition: right 0.3s;
            display: flex;
            z-index: 700;
            position: fixed;
            top: 0;
            right: -100%;

            &.active {
                right: 0;
            }
        }
    }
}
