@font-face {
  font-family: 'HelveticaLight';
  src: url('./font/HelveticaNeueCyr-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaMedium';
  src: url('./font/HelveticaNeueCyr-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaBold';
  src: url('./font/HelveticaNeueCyr-Bold.ttf') format('truetype');
}
