.videoLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 18px;
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: scroll;
}

.linkItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flag {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    
    & img {
        width: 100%;
        height: 100%;
    }
}