.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top {
    display: flex;
    height: 100%;
}

.bottom {
    display: flex;
    height: 30%;
}

.left {
    flex: 60%;
    background-color: #c6f9f9;
    height: 100%;
    border: 1px solid black;
    margin-right: 10px;
}

.right {
    flex: 40%;
    background-color: #c6f9f9;
    border: 1px solid black;
    height: 100%;
}

.rightTop {
    height: 75%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rightBottom {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid black;
    background-color: #c6f9f9;
}

.iconRow {
    display: flex;
    justify-content: space-around;
}

.socialBox {
    display: flex;
}

.qrCode {
    width: 65px;
    height: 65px;
}

.socialImg {
    width: 50px;
    height: 50px;
}


.flagImg {
    width: 65px;
    height: 65px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}