
  div.leaflet-top.leaflet-left {
    top: calc(var(--header-desktop) + 5px);
  }

  .leaflet-left .leaflet-control {
    margin: 0px 0px 0px 16px;
  }

  .tooltip {
    opacity: 0.7 !important;
    padding: 2px 4px;
    font-weight: 700;
    border: 1px solid #2B82CB;
  }

  .tooltip.leaflet-tooltip-right::before {
    border-right-color: #2B82CB;
  }

  .tooltip.leaflet-tooltip-left::before {
    border-left-color: #2B82CB;
  }

  .selectedMarker {
    z-index: 999 !important;
  }

  .selectedTooltip {
    opacity: 1 !important;
    border: 1px solid red;
  }

  .selectedTooltip.leaflet-tooltip-right::before {
    border-right-color: red;
  }

  .selectedTooltip.leaflet-tooltip-left::before {
    border-left-color: red;
  }

  .bringToFront {
    z-index: 1;
  }
  
 
 
  